:root {
  --main-fonts: "Open Sans";
  --secondary-font: "Raleway";
  --accent-color: #ff6c00;
  --main-light-theme: #303030;
  --main-dark-theme: #ffffff;
  --error-color: red;
  --items: 3;
  --indent: 30px;
  --anim-slow: 600ms ease-in-out;
  --anim-fast: 300ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--main-fonts), sans-serif;
  font-size: 18px;
  line-height: 1.67;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.btn {
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: color var(--anim-slow), background-color var(--anim-slow);
  transition: color var(--anim-slow), background-color var(--anim-slow);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--main-dark-theme);
}
.btn--mode-light {
  color: var(--main-light-theme);
}
.btn--mode-dark {
  color: var(--main-dark-theme);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-light-theme);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.socials-link:hover, .socials-link:focus {
  color: var(--accent-color);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-light-theme);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.social-media__link:hover,
.social-media__link:focus {
  color: var(--accent-color);
  background-color: var(--main-light-theme);
}

.social-media__icon {
  fill: currentColor;
}

.uppertitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .uppertitle {
    line-height: 1.36;
  }
}
.uppertitle::before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--main-light-theme);
  margin-right: 20px;
}
.uppertitle--mode-light {
  color: var(--main-light-theme);
}
.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17px;
  letter-spacing: 0.05em;
  color: var(--main-dark-theme);
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 72px;
    line-height: 1.18;
    margin-bottom: 20px;
  }
}

.section-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.section-title--mode-light {
  margin-bottom: 20px;
  color: #303030;
}
.section-title--mode-dark {
  color: #ffffff;
  margin-bottom: 44px;
}

.section-subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .section-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}
.section-subtitle--mode-light {
  color: #555555;
}
.section-subtitle--mode-dark {
  color: #ffffff;
}

.slider-pagination {
  display: none;
}
@media screen and (min-width: 768px) {
  .slider-pagination {
    display: block;
    position: absolute;
    top: 50%;
    right: 55px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
  }
}

.slider-pagination__item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider-pagination__item:last-child {
  margin-bottom: 0;
}

.slider-pagination__current {
  width: 18px;
  background-color: #fff;
}

.slider-controls {
  display: none;
}
@media screen and (min-width: 768px) {
  .slider-controls {
    position: absolute;
    bottom: 40px;
    right: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 26px;
  }
}

.slider-btn {
  padding: 8px 0;
  min-width: 60px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.slider-btn__prev {
  text-align: left;
  opacity: 0.6;
}
.slider-btn__prev__prev:hover, .slider-btn__prev__prev:focus {
  opacity: 1;
}

.slider-btn__next {
  text-align: right;
  opacity: 0.6;
}
.slider-btn__next__next:hover, .slider-btn__next__next:focus {
  opacity: 1;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(25, 28, 38, 0.2);
}

.overlay__desc {
  color: #fff;
  font-size: 18px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(55, 57, 63, 0.203);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 300ms var(--anim-fast), visibility 300ms var(--anim-fast), transform 300ms var(--anim-fast), -webkit-transform 300ms var(--anim-fast);
  z-index: 107;
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 40px;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.7) rotateX(180deg);
          transform: scale(1.7) rotateX(180deg);
  transition: opacity 500ms var(--anim-fast), visibility 500ms var(--anim-fast), transform 500ms var(--anim-fast), -webkit-transform 500ms var(--anim-fast);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 320px;
  height: auto;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__title {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
    line-height: 1.15;
  }
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 16px rgba(55, 57, 63, 0.203);
          box-shadow: 8px 8px 16px rgba(55, 57, 63, 0.203);
}

.singup-form {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  position: relative;
}

.form-field-container:not(:last-of-type) {
  margin-bottom: 10px;
}

.form-field-container:nth-last-child(3) {
  margin-bottom: 20px;
}

.form-field-container:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-field-label {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--dark-text);
  display: inline-block;
  margin-bottom: 4px;
}

.form-field,
.form-field-area {
  display: block;
  width: 100%;
  height: auto;
}

.form-field {
  position: relative;
  max-height: 40px;
}

.form-field input,
.form-field-area textarea {
  width: inherit;
  height: inherit;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.form-field input {
  padding: 12px 8px 12px 42px;
  width: 100%;
  outline: none;
}

.form-field-area textarea {
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form-field input:not(:-moz-placeholder-shown), .form-field-area textarea:not(:-moz-placeholder-shown) {
  border-color: var(--accent-color);
}

.form-field input:not(:-ms-input-placeholder), .form-field-area textarea:not(:-ms-input-placeholder) {
  border-color: var(--accent-color);
}

.form-field input:hover,
.form-field input:focus-within,
.form-field input:not(:placeholder-shown),
.form-field-area textarea:hover,
.form-field-area textarea:focus-within,
.form-field-area textarea:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.form-field input:not(:-moz-placeholder-shown):invalid, .form-field-area textarea:not(:-moz-placeholder-shown):invalid {
  border-color: var(--error-color);
}

.form-field input:not(:-ms-input-placeholder):invalid, .form-field-area textarea:not(:-ms-input-placeholder):invalid {
  border-color: var(--error-color);
}

.form-field input:not(:placeholder-shown):invalid,
.form-field-area textarea:not(:placeholder-shown):invalid {
  border-color: var(--error-color);
}

.form-field svg {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 70%;
  left: 14px;
  fill: currentColor;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.form-field1 svg {
  top: 55%;
}

.form-field input:not(:-moz-placeholder-shown) + svg {
  fill: var(--accent-color);
}

.form-field input:not(:-ms-input-placeholder) + svg {
  fill: var(--accent-color);
}

.form-field:hover svg,
.form-field:focus-within svg,
.form-field input:not(:placeholder-shown) + svg {
  fill: var(--accent-color);
}

.submit-button-modal {
  font-family: inherit;
  display: block;
  min-width: 180px;
  padding: 10px 55px;
  margin: 0 auto;
}
.submit-button-modal:hover, .submit-button-modal:focus {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 2px 6px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 2px 6px 6px rgba(0, 0, 0, 0.15);
}

html::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar {
    display: block;
    width: 20px;
    height: 8px;
    background-color: transparent;
  }
}

html::-webkit-scrollbar-thumb {
  display: none;
}
@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar-thumb {
    display: block;
    background-color: var(--main-light-theme);
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
            box-shadow: inset 1px 1px 10px #f3faf7;
  }
}

@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
  }
}

html::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
    background: linear-gradient(120deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, var(--accent-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    border-radius: 9em;
  }
}

html::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
    background: linear-gradient(300deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, var(--accent-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    border-radius: 9em;
  }
}

html::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}
@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar-button:horizontal:start:decrement {
    display: block;
    background: linear-gradient(30deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, var(--accent-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    border-radius: 9em;
  }
}

html::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}
@media screen and (min-width: 1200px) {
  html::-webkit-scrollbar-button:horizontal:end:increment {
    display: block;
    background: linear-gradient(210deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, var(--accent-color) 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, var(--accent-color) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    border-radius: 9em;
  }
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-burger {
  fill: var(--main-dark-theme);
  -webkit-transition: 500ms;
  transition: 500ms;
}
.mobile-menu-burger:hover, .mobile-menu-burger:focus {
  fill: var(--accent-color);
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.mobile-menu-close:hover, .mobile-menu-close:focus {
  fill: var(--accent-color);
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 30px 30px 50px;
  background-color: var(--main-dark-theme);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: 155px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-nav {
    margin-bottom: auto;
  }
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: var(--main-light-theme);
}
.mobile-menu-item-link:hover, .mobile-menu-item-link:focus {
  color: var(--accent-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--main-light-theme);
  display: block;
  margin-bottom: 24px;
}
.mobile-menu-contacts-item:hover, .mobile-menu-contacts-item:focus {
  color: var(--accent-color);
}

.mobile-menu-socials-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-align: left;
  color: var(--main-light-theme);
}
.mobile-menu-socials-link:hover, .mobile-menu-socials-link:focus {
  color: var(--accent-color);
}

.mobile-menu-socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu-socials-item::before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--main-light-theme);
  margin-right: 20px;
}

.mobile-menu-socials-item:last-child {
  margin-top: 24px;
}
.mobile-menu-socials-item:last-child::before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 60px;
  background-color: transparent;
  margin-right: 20px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1280px;
  }
}

.header__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 64px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 70px;
    margin-left: 0;
  }
}

.logo__svg {
  fill: var(--main-light-theme);
  width: 68px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo__svg {
    fill: var(--main-light-theme);
  }
}

.header__menu {
  fill: #ffffff;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-dark-theme);
  -webkit-transition: color var(--anim-slow);
  transition: color var(--anim-slow);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__link:hover::before,
.nav__link:focus::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  width: 100%;
  height: 4px;
  display: inline-block;
  margin-right: 10px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.curent-link {
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curent-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  width: 100%;
  height: 4px;
  display: inline-block;
  margin-right: 10px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__group {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__group {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .header__group {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__contact {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-dark-theme);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

.header__btn {
  margin-bottom: 20px;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .header__btn {
    margin-left: 40px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.hero {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.hero__container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-left-side {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 85px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-left-side {
    padding-left: 40px;
    padding-right: 54px;
  }
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  -webkit-transform: translateX(-10px) rotate(-90deg);
          transform: translateX(-10px) rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.hero__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-light-theme);
}

.hero-right-side {
  width: 100%;
  padding: 208px 31px 183px 31px;
  background-color: var(--main-light-theme);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-mobile-bg3-x1.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-mobile-bg3-x1.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-mobile-bg3@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-mobile-bg3@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-tablet-bg3-x1.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-tablet-bg3-x1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-tablet-bg3@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-tablet-bg3@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-right-side {
    padding: 272px 0 206px 96px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-desk-bg3-x1.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-desk-bg3-x1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-right-side {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-desk-bg3@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-desk-bg3@2x.jpg);
  }
}

.uppertitle-hero {
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .uppertitle-hero {
    margin-bottom: 20px;
  }
}
.uppertitle-hero::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.hero__desc {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 1200px) {
  .hero__desc {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__item {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.about-pic {
  background-size: cover;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-group {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-group {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    margin-left: 64px;
  }
}

.about-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 28, 38);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/price/price-mobile-bg.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/price-mobile-bg@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .price {
    background-image: url(../images/price/price-tablet-bg.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/price-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .price {
    background-image: url(../images/price/price-desk-bg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price/price-desk-bg@2x.png);
  }
}

.price-uppertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-uppertitle::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.price-title {
  margin-bottom: 44px;
}

.price-list {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 50px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media screen and (min-width: 768px) {
  .price-list {
    font-size: 18px;
    line-height: 1.67;
  }
}
@media screen and (min-width: 1200px) {
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.price-list__item1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.5)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.5) 100%);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.price-list__item1:hover {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
@media screen and (min-width: 1200px) {
  .price-list__item1 {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: rotateY(15deg);
            transform: rotateY(15deg);
  }
  .price-list__item1:hover {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.price-list__item2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(15deg);
          transform: rotateX(15deg);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.price-list__item2:hover {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
@media screen and (min-width: 1200px) {
  .price-list__item2 {
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: rotateY(-15deg);
            transform: rotateY(-15deg);
    -webkit-transition: -webkit-transform var(--anim-fast);
    transition: -webkit-transform var(--anim-fast);
    transition: transform var(--anim-fast);
    transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
  }
  .price-list__item2:hover {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.price-inner-list {
  padding: 30px 30px;
}
@media screen and (min-width: 1200px) {
  .price-inner-list {
    padding: 30px 40px;
  }
}

.price-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: "";
  display: inline-block;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: rgba(157, 164, 189, 0.12);
}

.price-inner__desc {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .benefits-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .benefits-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    margin-right: 130px;
  }
}

.benefits-item {
  background-color: #f7f7f7;
  width: 193px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
  gap: 30px;
  -webkit-transition: scale var(--anim-fast), background-color var(--anim-fast);
  transition: scale var(--anim-fast), background-color var(--anim-fast);
}
.benefits-item:hover, .benefits-item:focus {
  scale: 1.2;
  background-color: rgba(255, 108, 0, 0.1);
}
.benefits-item:nth-child(2n+1) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
.benefits-item:nth-child(2) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-item:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item:nth-child(4) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 170px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
  }
}

.benefits-amount {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
  vertical-align: super;
}

.benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-supcontainer {
  width: 310px;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .benefits-supcontainer {
    width: 500px;
    margin-bottom: 0;
  }
}

.team {
  background-color: #f7f7f7;
}

.team-uppertitle {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-uppertitle {
    margin-left: 15vw;
  }
}

.team__title {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__title {
    margin-left: 15vw;
  }
}

.team__wrapper {
  padding: 30px 0;
}

.team__list {
  --items: 1;
  --indent: 64px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --items: 3;
    --indent: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    max-width: 450px;
  }
}

.team__avatar {
  margin-bottom: 30px;
}

.team__subtitle {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.team__position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.portfolio__list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    --items: 4;
  }
}

.portfolio__item {
  overflow: hidden;
  position: relative;
}

.portfolio__item:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.contact-form-wrapper {
  display: block;
  background-color: #191c26;
}
@media screen and (min-width: 1200px) {
  .contact-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.registration-form-section {
  background-color: #191c26;
}
@media screen and (min-width: 1200px) {
  .registration-form-section {
    width: 600px;
  }
}

.contact-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .contact-section-title {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .form__wrapper {
    gap: 30px;
  }
}

.contact-form__group {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact-form__group {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__group {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
  .contact-form__group:last-child {
    -ms-flex-preferred-size: 260px;
        flex-basis: 260px;
  }
}

.contact-form__label {
  position: absolute;
  left: 0;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.contact-form__field {
  width: 100%;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 44px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
}

.contact-form__field:not(:-moz-placeholder-shown) {
  border-color: #fff;
}

.contact-form__field:not(:-ms-input-placeholder) {
  border-color: #fff;
}

.contact-form__field:focus,
.contact-form__field:not(:placeholder-shown) {
  border-color: #fff;
}

.contact-form__field:not(:-moz-placeholder-shown) + .contact-form__label {
  transform: translateY(-30px) scale(0.8);
  transform-origin: top left;
  color: #fff;
}

.contact-form__field:not(:-ms-input-placeholder) + .contact-form__label {
  transform: translateY(-30px) scale(0.8);
  transform-origin: top left;
  color: #fff;
}

.contact-form__field:focus + .contact-form__label,
.contact-form__field:not(:placeholder-shown) + .contact-form__label {
  -webkit-transform: translateY(-30px) scale(0.8);
          transform: translateY(-30px) scale(0.8);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  color: #fff;
}

.contact-form__field::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__field::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -moz-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__field:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -ms-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__field::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -ms-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__field::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__field:focus::-webkit-input-placeholder {
  opacity: 1;
}

.contact-form__field:focus::-moz-placeholder {
  opacity: 1;
}

.contact-form__field:focus:-ms-input-placeholder {
  opacity: 1;
}

.contact-form__field:focus::-ms-input-placeholder {
  opacity: 1;
}

.contact-form__field:focus::placeholder {
  opacity: 1;
}

.contact-form__textarea {
  width: 100%;
  height: 76px;
  resize: none;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contact-form__textarea {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__textarea {
    width: 560px;
  }
}

.contact-form__textarea:not(:-moz-placeholder-shown) {
  border-color: #fff;
}

.contact-form__textarea:not(:-ms-input-placeholder) {
  border-color: #fff;
}

.contact-form__textarea:focus,
.contact-form__textarea:not(:placeholder-shown) {
  border-color: #fff;
}

.contact-form__textarea:not(:-moz-placeholder-shown) + .contact-form__textarea-label {
  transform: translateY(-150px) scale(0.8);
  transform-origin: top left;
  color: #fff;
}

.contact-form__textarea:not(:-ms-input-placeholder) + .contact-form__textarea-label {
  transform: translateY(-150px) scale(0.8);
  transform-origin: top left;
  color: #fff;
}

.contact-form__textarea:focus + .contact-form__textarea-label,
.contact-form__textarea:not(:placeholder-shown) + .contact-form__textarea-label {
  -webkit-transform: translateY(-150px) scale(0.8);
          transform: translateY(-150px) scale(0.8);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .contact-form__textarea:not(:-moz-placeholder-shown) + .contact-form__textarea-label {
    transform: translateY(-130px) scale(0.8);
  }
  .contact-form__textarea:not(:-ms-input-placeholder) + .contact-form__textarea-label {
    transform: translateY(-130px) scale(0.8);
  }
  .contact-form__textarea:focus + .contact-form__textarea-label,
  .contact-form__textarea:not(:placeholder-shown) + .contact-form__textarea-label {
    -webkit-transform: translateY(-130px) scale(0.8);
            transform: translateY(-130px) scale(0.8);
  }
}

.contact-form__textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -moz-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -ms-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -ms-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out 50ms;
  transition: opacity 250ms ease-in-out 50ms;
}

.contact-form__textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

.contact-form__textarea:focus::-moz-placeholder {
  opacity: 1;
}

.contact-form__textarea:focus:-ms-input-placeholder {
  opacity: 1;
}

.contact-form__textarea:focus::-ms-input-placeholder {
  opacity: 1;
}

.contact-form__textarea:focus::placeholder {
  opacity: 1;
}

.contact-form__textarea-label {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-700%);
          transform: translateY(-700%);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.contact-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .contact-form-btn {
    margin: 0;
  }
}

.contacts-section {
  background-color: rgb(25, 28, 38);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/contacts/contact-mobile-bg.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts/contact-mobile-bg@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts-section {
    background-image: url(../images/contacts/contact-tablet-bg.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts/contact-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    background-image: url(../images/contacts/contact-desk-bg.png);
    width: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/contacts/contact-desk-bg@2x.png);
  }
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .contacts-container {
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .address-box {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
    height: 160px;
    margin-right: 30px;
  }
}

.contacts-address-link {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.contacts-address-link:hover, .contacts-address-link:focus {
  color: var(--accent-color);
}

.contacts-adress__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-adress__item:last-child {
  margin-bottom: 70px;
}

.contacts__icon {
  margin-right: 16px;
  fill: none;
  stroke: currentColor;
}

.contacts-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.contacts-uppertitle::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.contacts-address-time {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time {
  padding: 5px;
}

.footer {
  background-color: #f7f7f7;
}

.footer-container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-copyright {
  font-family: var(--main-fonts);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--main-light-theme);
}

.footer-list__item {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-list__item {
    margin-left: 40px;
  }
}

.footer-list__link {
  text-transform: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */