.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(25, 28, 38, 1);
;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/price/price-mobile-bg.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/price/price-mobile-bg@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/price/price-tablet-bg.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/price/price-tablet-bg@2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/price/price-desk-bg.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/price/price-desk-bg@2x.png);
    }
  }
}

.price-uppertitle {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: rgba(157, 164, 189, 0.6);

    margin-right: 20px;
  }
}

.price-title {
  margin-bottom: 44px;
}

.price-list {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 50px;

  perspective: 1000px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.price-list__item1 {
  flex-basis: 50%;

  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.5) 100%);
  transform-origin: top center;
  transform: rotateX(-15deg);
  transition: transform var(--anim-fast);

  &:hover {
    transform: rotateX(0);
  }

  @media screen and (min-width: 1200px) {
    transform-origin: left center;
    transform: rotateY(15deg);

    &:hover {
      transform: rotateY(0);
    }
  }
}

.price-list__item2 {
  flex-basis: 50%;

  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  transform-origin: bottom center;
  transform: rotateX(15deg);
  transition: transform var(--anim-fast);

  &:hover {
    transform: rotateX(0);
  }

  @media screen and (min-width: 1200px) {
    transform-origin: right center;
    transform: rotateY(-15deg);
    transition: transform var(--anim-fast);

    &:hover {
      transform: rotateY(0);
    }
  }
}

.price-inner-list {
  padding: 30px 30px;

  @media screen and (min-width: 1200px) {
    padding: 30px 40px;
  }
}

.price-inner-item {
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: '';
  display: inline-block;
  height: 1px;

  flex-grow: 1;
  background: rgba(157, 164, 189, 0.12);
}

.price-inner__desc {
  order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
