.team {
  background-color: #f7f7f7;
}

.team-uppertitle {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 15vw;
  }
}

.team__title {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 15vw;
  }
}

.team__wrapper {
  padding: 30px 0;
}

.team__list {
  --items: 1;
  --indent: 64px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    --items: 3;
    --indent: 30px;
  }
}

.team__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 450px;
  }
}

.team__avatar {
  margin-bottom: 30px;
}

.team__subtitle {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;

  margin-bottom: 8px;
}

.team__position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;

  margin-bottom: 30px;
}
