.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.91;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    line-height: 1.36;
  }

  &::before {
    display: inline-block;
    content: '';
    height: 1px;
    width: 60px;
    background-color: var(--main-light-theme);

    margin-right: 20px;
  }

  &--mode-light {
    color: var(--main-light-theme);
  }

  &--mode-dark {
    color: rgba(157, 164, 189, 0.6);
  }
}
