.card-set {
  display: flex;
  flex-wrap: wrap;
  // margin: calc(-1 * var(--indent) / 2);
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  // margin: calc(var(--indent) / 2);
}
