:root {
  --main-fonts: 'Open Sans';
  --secondary-font: 'Raleway';

  --accent-color: #ff6c00;
  --main-light-theme: #303030;
  --main-dark-theme: #ffffff;
  --error-color: red;

  --items: 3;
  --indent: 30px;

  --anim-slow: 600ms ease-in-out;
  --anim-fast: 300ms ease-in-out;
}